<%= form_for(@party) do |f| %>
  <% if @party.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@party.errors.count, "error") %> prohibited this party from being saved:</h2>

      <ul>
      <% @party.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :chairman_name %><br />
    <%= f.text_field :chairman_name %>
  </div>
  <div class="field">
    <%= f.label :assembly_leader_name %><br />
    <%= f.text_field :assembly_leader_name %>
  </div>
  <div class="field">
    <%= f.label :founded_on %><br />
    <%= f.date_select :founded_on %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
