<p id="notice"><%= notice %></p>

<p>
  <b>Manifesto:</b>
  <%= @rating.manifesto_id %>
</p>

<p>
  <b>User:</b>
  <%= @rating.user_id %>
</p>

<p>
  <b>Grade:</b>
  <%= @rating.grade %>
</p>


<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>
