<p id="notice"><%= notice %></p>

<p>
  <b>Politician:</b>
  <%= @manifesto.politician_id %>
</p>

<p>
  <b>Title:</b>
  <%= @manifesto.title %>
</p>

<p>
  <b>Description:</b>
  <%= @manifesto.description %>
</p>

<p>
  <b>Reply cnt:</b>
  <%= @manifesto.reply_cnt %>
</p>

<p>
  <b>Good cnt:</b>
  <%= @manifesto.good_cnt %>
</p>

<p>
  <b>Fair cnt:</b>
  <%= @manifesto.fair_cnt %>
</p>

<p>
  <b>Poor cnt:</b>
  <%= @manifesto.poor_cnt %>
</p>


<%= link_to 'Edit', edit_manifesto_path(@manifesto) %> |
<%= link_to 'Back', manifestos_path %>
