<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @election.name %>
</p>

<p>
  <b>Held on:</b>
  <%= @election.held_on %>
</p>

<p>
  <b>Term started on:</b>
  <%= @election.term_started_on %>
</p>

<p>
  <b>Term ended on:</b>
  <%= @election.term_ended_on %>
</p>

<p>
  <b>Note:</b>
  <%= @election.note %>
</p>


<%= link_to 'Edit', edit_election_path(@election) %> |
<%= link_to 'Back', elections_path %>
