<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @politician.name %>
</p>

<p>
  <b>Birthday:</b>
  <%= @politician.birthday %>
</p>

<p>
  <b>Party:</b>
  <%= @politician.party_id %>
</p>


<%= link_to 'Edit', edit_politician_path(@politician) %> |
<%= link_to 'Back', politicians_path %>
