<%= form_for(@reply_evaluation) do |f| %>
  <% if @reply_evaluation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reply_evaluation.errors.count, "error") %> prohibited this reply_evaluation from being saved:</h2>

      <ul>
      <% @reply_evaluation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :reply_id %><br />
    <%= f.number_field :reply_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :eval_type %><br />
    <%= f.text_field :eval_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
